*{
	box-sizing: border-box;
	text-decoration: none !important;
}

body, html{
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

.app{
	background: var(--mdc-theme-background, #46254f);
	min-height: 100vh;
	color: #fff;
}

h1, h2{
	font-family: 'Montserrat', sans-serif;
}

a{
	color: var(--mdc-theme-secondary, #fff) !important;
	text-decoration: none;
}